.button-custom {
    -fx-font-family: "Arial Black";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom, #ffa726, #fb8c00);
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.4), 4, 0, 0, 2);
    -fx-text-alignment: center;
}
