.weapon-menu {
    -fx-padding: 10;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 12;
    -fx-pref-width: 80px;
}

.weapon-icon {
    -fx-fit-width: 64px;
    -fx-fit-height: 64px;
    -fx-opacity: 0.5;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0.2, 0, 2);
    -fx-cursor: hand;
}

.weapon-icon.selected {
    -fx-opacity: 1.0;
    -fx-border-color: yellow;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(three-pass-box, gold, 10, 0.6, 0, 0);
}
